<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Wheel of Jeopardy - Welcome</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="https://bicoastal-bytes.github.io/FA_2021_Software_Engineering/styles.css" rel="stylesheet">
        <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    </head>
    <body class="bg-blue-400 text-gray-700">
        <div class="container mx-auto">

            <header class="bg-blue-900">
                <div class="flex flex-row">
                    <div class="bg-yellow-300 h-1/3 m-auto flex-1">
                        <div class="box flex items-center justify-center">
                            <div class="w-1/3"><button class="bg-white hover:bg-gray-100 text-black py-2 px-4 rounded flex-1 my-2 outline-bk" onclick="location.href='';">Learn More</button></div>
                        </div>                       
                    </div>                    
                    <img src="https://bicoastal-bytes.github.io/FA_2021_Software_Engineering/images/Wheel-of-jeopardy.jpg" class="flex-1">
                    <div class="bg-yellow-300 h-1/3 m-auto flex-1">
                        <div class="box flex items-center justify-center">
                            <div class="w-1/3"><button class="bg-white hover:bg-gray-100 text-black py-2 px-4 rounded flex-1 my-2 outline-bk" onclick="location.href='https://nbc.com';">NBC</button></div>
                        </div>                       
                    </div>  
                </div>
            </header>

            <!-- ********************************************** -->
            <!--                 Content Area                   -->
            <!-- ********************************************** -->
            <div class="flex justify-center">
                <div>
                <h1 class='text-center text-yellow-300 m-8 text-2xl font-cinzel'>Create a Room</h1>
                <form action="api/generate" method="POST">
                    {% csrf_token %}
                    <div class="flex mb-4">
                        <label id="playername" class="w-40">Player Name</label>
                        <!-- <input id="user-name-input" type="text" class="form-control" placeholder="Player Name"> -->
                        <div class="flex-1">
                            {{ form.player_name }}
                        </div>  
                    </div>
                    <div class="flex mb-4">
                        <label class="input-group-text" class="flex-1">Question Count</label>
                        <div class="flex-1 ml-12">
                            {{ form.question_count }}
                        </div>  
                    </div>
                    <div class="flex mb-4">
                        <label class="flex-1">Room Name</label>
                        <!-- <input id="room-name-input" type="text" class="form-control" placeholder="Room Name"> -->
                        <div class="flex-1">
                            {{ form.room_name }}
                        </div>  
                    </div>
                    <div class="flex mb-4">
                        <div class="w-40"></div>
                        <input class="p-1 rounded bg-yellow-200 hover:bg-yellow-100" id="room-name-submit" type="submit" value="Enter" >
                    </div>
                </form>
                </div>
            </div>
            <!-- ********************************************** -->
            <!--               End Content Area                 -->
            <!-- ********************************************** -->
            <footer class="m-16">
                <p class="text-center font-bold text-xs">Copyright © 2021 Bicoastal Bytes</p>
            </footer>
        </div>


        <script>
            document.querySelector('#id_player_name').focus();
            document.querySelector('#id_room_name').onkeyup = function(e) {
                if (e.keyCode == 13) { // enter, return
                    document.querySelector("#room-name-submit").click();
                }
            };

            // document.querySelector('#room-name-submit').onclick = function(e) {
            //     var roomName = document.querySelector('#id_room_name').value;
            //     var userName = document.querySelector('#id_player_name').value;
            //     console.log(`User name: ${userName} , Room Name: ${roomName}`)
            //     window.location.pathname = '/' + roomName + '/' + userName + '/';
            // };
        </script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    </body>
</html>