<!-- websockets/templates/websockets/game.html-->
{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Wheel of Jeopardy - Welcome</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="https://bicoastal-bytes.github.io/FA_2021_Software_Engineering/styles.css" rel="stylesheet">
        <link rel="shortcut icon" type="image/x-icon" href="https://bicoastal-bytes.github.io/FA_2021_Software_Engineering/favicon.ico">
    </head>
    <body class="bg-blue-400 text-gray-700" onload="turnOn('status'); setUpWheel();">
        <div class="container mx-auto">

            <header class="bg-blue-900">
                <div class="flex flex-row">
                    <div class="bg-yellow-300 h-1/3 m-auto flex-1">
                        <div class="box flex items-center justify-center">
                            <div class="w-1/3"><input class="bg-white hover:bg-gray-100 text-black py-2 px-4 rounded flex-1 my-2 outline-bk" id="leave-game-button" type="button" value="Leave Game"></div>
                        </div>                       
                    </div>                    
                    <img src="https://bicoastal-bytes.github.io/FA_2021_Software_Engineering/images/Wheel-of-jeopardy.jpg" class="flex-1">
                    <div class="bg-yellow-300 h-1/3 m-auto flex-1">
                        <div class="box flex items-center justify-center">
                            <div class="w-1/3">
                                <div class="bg-white hover:bg-gray-100 text-black py-2 px-4 rounded flex-1 my-2 outline-bk" id="id-remaining-questions"></div>
                            </div>
                        </div>                       
                    </div>  
                </div>
            </header>

            <!--
            <div class="m-10">
            <div class="flex justify-between mt-10">
                <div id="timer">
                    Timer Area
                </div>
                <div id="scoreboard">
                    Scoreboard Area
                </div>
            </div>
            -->
            <!-- ********************************************** -->
            <!--                 Content Area                   -->
            <!-- ********************************************** -->
            <div class="border-2 mb-4 mt-4 p-4 text-center" style="min-height: 200px;">
            <div id="status">
                <div id="status_activediv" class="text-center text-yellow-300 m-8 text-2xl font-cinzel"></div> <!-- not doing anything with these yet -->
                <div id="status_inactivediv" class="text-center text-yellow-300 m-8 text-2xl font-cinzel"></div> <!-- not doing anything with these yet -->
            
                <p class="text-center text-yellow-300 m-16 text-2xl font-cinzel">Waiting for Players to Join...</p><br>
                <button onclick="turnOn('wheel');" class="bg-yellow-200 hover:bg-blue-200 text-black font-bold py-2 px-2 rounded">Start Game</button>
            </div>

            <div id="wheel">
                <div id="wheel_activediv" class="text-center text-yellow-300 m-8 text-2xl font-cinzel">You are spinning the wheel.</div>
                <div id="wheel_inactivediv" class="text-center text-yellow-300 m-8 text-2xl font-cinzel">Active is spinning the wheel.</div>
                <div class="flex flex-row">
                    <div class="mx-auto">
                        <div class="mx-auto">
                            <button id="spinthewheel" class="bg-yellow-200 hover:bg-blue-200 text-black font-bold py-2 px-2 rounded">spin the wheel</button>
                            <!--
                            <form>
                                <input type="radio" name="wheelcat" onchange="calculatePrize(1); this.checked = false;"> Animals
                                <input type="radio" name="wheelcat" onchange="calculatePrize(61); this.checked = false;"> History
                                <input type="radio" name="wheelcat" onchange="calculatePrize(121); this.checked = false;"> Literature
                                <input type="radio" name="wheelcat" onchange="calculatePrize(181); this.checked = false;"> Philosophy
                                <input type="radio" name="wheelcat" onchange="calculatePrize(241); this.checked = false;"> Science
                                <input type="radio" name="wheelcat" onchange="calculatePrize(301); this.checked = false;"> Sports
                            </form>-->
                        </div>
                        <div class="mx-auto">
                            <canvas id="canvas" width="434" height="434">
                                <p style="color: white">Sorry, your browser doesn't support canvas. Please try another.</p>
                            </canvas>
                        </div>                 
                    </div>
                </div>
                <a onclick="turnOn('pointvalue');" class="text-blue-400">switch</a>
            </div>

            <div id="pointvalue">
                <div id="pointvalue_activediv" class="text-center text-yellow-300 m-8 text-2xl font-cinzel">Choose a point value.</div>
                <div id="pointvalue_inactivediv" class="text-center text-yellow-300 m-8 text-2xl font-cinzel">Active is choosing the points value for the question.</div>
                    <div class="flex">                        
                        <div class="w-1/4"></div>
                        <div class="mx-auto">
                            <button id="button10" class="bg-yellow-300 hover:bg-yellow-400 text-black py-4 px-4 rounded text-sm m-2 px-20 outline-bk" onclick="startBuzzer(); sendPoints(100);">10</button><br>
                            <button id="button30" class="bg-yellow-300 hover:bg-yellow-400 text-black py-4 px-4 rounded text-sm m-2 px-20 outline-bk" onclick="startBuzzer(); sendPoints(300);">30</button><br>
                            <button id="button50" class="bg-yellow-300 hover:bg-yellow-400 text-black py-4 px-4 rounded text-sm m-2 px-20 outline-bk" onclick="startBuzzer(); sendPoints(500);">50</button>
                        </div>
                        <div class="mx-auto">
                            <button id="button20" class="bg-yellow-300 hover:bg-yellow-400 text-black py-4 px-4 rounded text-sm m-2 px-20 outline-bk" onclick="startBuzzer(); sendPoints(200);">20</button><br>
                            <button id="button40" class="bg-yellow-300 hover:bg-yellow-400 text-black py-4 px-4 rounded text-sm m-2 px-20 outline-bk" onclick="startBuzzer(); sendPoints(400);">40</button><br> 
                            
                        </div>
                        <div class="w-1/4"></div>
                    </div>
                </div>
                

            <div id="buzzer">
                <div id="buzzer_activediv" class="text-center text-yellow-300 m-8 text-2xl font-cinzel"></div>
                <div id="buzzer_inactivediv" class="text-center text-yellow-300 m-8 text-2xl font-cinzel"></div>
                <div class="flex">
                    <div class="mx-auto">   
                        
                        <div id="buzzercategory" class="bg-aqua text-black py-4 px-4 rounded text-xl mt-10 px-20 outline-bk w-full text-center"></div>                    
                        <div class="bg-yellow-300 text-black py-4 px-4 rounded text-sm mt-2 px-20 outline-bk w-full text-center">
                            <div id="buzzerquestion"></div>
                            <div id="buzzeranswers"></div>
                            <p class="mt-2">&darr; Hit the buzzer to answer &darr; <span id="time">05</span> seconds left</p>
                        </div>
                    </div>
                </div>
                
                <div class="flex mt-4">
                    <div class="mx-auto">
                        <img src="https://bicoastal-bytes.github.io/FA_2021_Software_Engineering/images/buzzer.png" alt="buzzer" onclick="stopBuzzer();">
                    </div>
                </div>
                <a onclick="turnOn('answer');" class="text-blue-400">switch</a>

            </div>

            <div id="answer">
                <div id="answer_activediv" class="text-center text-yellow-300 m-8 text-2xl font-cinzel">You are answering the question.</div>
                <div id="answer_inactivediv" class="text-center text-yellow-300 m-8 text-2xl font-cinzel">Active is answering the question.</div>
                
                <div class="flex">
                    <div class="mx-auto">                       
                        <div id="answercategory" class="bg-aqua text-black py-4 px-4 rounded text-xl mt-10 px-20 outline-bk w-full text-center"></div>                    
                        <div class="bg-yellow-300 text-black py-4 px-4 rounded text-sm mt-2 px-20 outline-bk w-full text-center">
                            <div id="answerquestion"></div>
                            <div id="answeranswers"></div>
                        </div>
                    </div>
                </div>
                <div class="flex">
                    <div class="w-1/4"></div>
                    <div class="mx-auto">
                        <button id="buttona" class="bg-yellow-300 hover:bg-yellow-400 text-black py-4 px-4 rounded text-sm m-2 px-20 outline-bk" onclick="turnOn('result', 0);">A</button><br>
                        <button id="buttonb" class="bg-yellow-300 hover:bg-yellow-400 text-black py-4 px-4 rounded text-sm m-2 px-20 outline-bk" onclick="turnOn('result', 1);">B</button>
                    </div>
                    <div class="mx-auto">
                        <button id="buttonc" class="bg-yellow-300 hover:bg-yellow-400 text-black py-4 px-4 rounded text-sm m-2 px-20 outline-bk" onclick="turnOn('result', 2);">C</button><br>
                         <button id="buttond" class="bg-yellow-300 hover:bg-yellow-400 text-black py-4 px-4 rounded text-sm m-2 px-20 outline-bk" onclick="turnOn('result', 3);">D</button>
                    </div>
                    <div class="w-1/4"></div>
                </div>
                <a onclick="turnOn('result');" class="text-blue-400">switch</a>
            </div>

            <div id="result">
                <div id="result_result" class="text-center text-yellow-300 m-8 text-2xl font-cinzel">You answered the question (in)correctly.</div>
                <div class="hidden"><div id="result_activediv"></div><div id="result_inactivediv"></div></div>
                <div id="resultcorrectanswer" class="text-center text-yellow-300 m-8 text-2xl font-cinzel"></div>              

                <div class="flex">
                    <div class="w-1/6"></div>
                    <div class="mx-auto w-1/6 m-4">
                        <div class="bg-blue-300 outline-bk text-center text-white font-extrabold py-4 text-2xl">
                            60
                            <div id="player1" class="border-t-100 border-b-150 border-blue-900 py-10 text-blue-900 mt-4 font-gloria text-4xl">
                                Laurie
                            </div>
                        </div>
                    </div>
                    <div class="mx-auto w-1/6 m-4">
                        <div class="bg-blue-300 outline-bk text-center text-white font-extrabold py-4 text-2xl">
                            20
                            <div id="player2" class="border-t-100 border-b-150 border-blue-900 py-10 text-blue-900 mt-4 font-parisienne text-4xl">
                                Clayton
                            </div>
                        </div>
                    </div>
                    <div class="mx-auto w-1/6 m-4">
                        <div id="player3" class="bg-blue-300 outline-bk text-center text-white font-extrabold py-4 text-2xl">
                            100
                            <div class="border-t-100 border-b-150 border-blue-900 py-10 text-blue-900 mt-4 font-lakki text-4xl">
                                Jordan
                            </div>
                        </div>
                    </div>
                    <div class="w-1/6"></div>
                </div>
                <button onclick="turnOn('wheel');" class="bg-yellow-200 hover:bg-blue-200 text-black font-bold py-2 px-2 rounded">next question</button>

            </div>

            <div id="gameresult">
                <div id="gameresult_activediv" class="text-center text-yellow-300 m-8 text-2xl font-cinzel"></div>
                <div id="gameresult_inactivediv" class="text-center text-yellow-300 m-8 text-2xl font-cinzel"></div>
           
                <div class="gameresult_inactiveplayermessage gameresult_activeplayerdiv"></div>
                <p class="text-center text-yellow-300 m-16 text-2xl font-cinzel">game result</p>
            </div>
            </div>
            <!-- ********************************************** -->
            <!--               End Content Area                 -->
            <!-- ********************************************** -->
            <div class="flex justify-between">
                <!-- chat area -->
                <div id="chat" class="flex flex-col"> 
                    <label for="chat-log">Chat:</label>
                    <textarea class="form-control mb-1" id="chat-log"rows="5" ></textarea>
                    <input class="form-control mb-1" id="chat-message-input" type="text" size="50">
                    <input class="btn btn-success mb-1" id="chat-message-submit" type="button" value="Send">
                </div>
                <!-- end chat area -->
                <!-- connected players list -->
                <div class="" id="connected-players">
                    <label for="connected-players-table">Connected Players:</label>
                    <table id="connected-players-table">

                    </table>
                </div>
                <!-- end connected players list -->
            </div>
        </div>

       
        {{ game_room|json_script:"game-room" }}
        {{ user_name|json_script:"user-name" }}

            <!-- ********************************************** -->
            <!--               End Content Area                 -->
            <!-- ********************************************** -->
            <footer class="m-16">
                <p class="text-center font-bold text-xs">Copyright © 2021 Bicoastal Bytes</p>
            </footer>
        </div>



        <script src="{% static 'websockets/js/generate_table.js' %}"></script>
        <script src="{% static 'websockets/js/helper.js' %}"></script>
        <script src="{% static 'websockets/js/sockets.js' %}"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        
        <script language='javascript' type='text/javascript'>
            var buzzerStart = 0; 
            var elapsedTime = 0;   
            var splits = null;
            var splitschoice = 0;

    
            function turnOff () {
                const pageNames = [ {x:'status'}, {x:'wheel'}, {x:'pointvalue'}, {x:'buzzer'}, {x:'answer'}, {x:'result'}, {x:'gameresult'}];
                pageNames.forEach((element) => {
                    document.getElementById(element.x).style.display = 'none';
                });
            }
    
            function turnOn (whichDiv, choice = null) {
                var original;
                var result;
                var myList;

                if (choice != null) {
                    var correctMessage = (splits[choice] == atob(correctAnswer)) ? 'correctly' :'incorrectly';
                    var whoMessage = (activePlayer = userName) ? 'You' : activePlayer;
                    
                   document.getElementById('result_result').innerHTML = whoMessage + ' answered the question ' + correctMessage + '.';
                }
                
                turnOff(); 
                document.getElementById(whichDiv).style.display = 'block';
                
                if (whichDiv == 'wheel') {
                    /* reset turned off divs for next turn */
                    myList = ["button10", "button20", "button30", "button40", "button50"];
                    disableEnable(myList, 'enable');
                    myList = ["buttona", "buttonb", "buttonc", "buttond"]
                    disableEnable(myList, 'enable');
                    /* hide spin the wheel button if inactive player */
                    if (userName != activePlayer){
                        document.getElementById('spinthewheel').style.display = 'none';
                    }
                } else if (whichDiv == 'buzzer') {
                    /* parse the answers */                    
                    var mystring = JSON.stringify(choices);                    
                    var newmystring = mystring.replace('[', '').replace(']', '').replace(/"/g, '');
                    splits = newmystring.split(",");

                    /* populates the question on both buzzer, answer pages and result page */
                    document.getElementById('buzzercategory').innerHTML = category;     document.getElementById('answercategory').innerHTML = category;
                    document.getElementById('buzzerquestion').innerHTML = question;     document.getElementById('answerquestion').innerHTML = question;
                    document.getElementById('buzzeranswers').innerHTML = 'A. ' + splits[0] + ' B. ' + splits[1] + ' C. ' + splits[2] + ' D. ' + splits[3];       
                    document.getElementById('answeranswers').innerHTML = 'A. ' + splits[0] + ' B. ' + splits[1] + ' C. ' + splits[2] + ' D. ' + splits[3];  
                    document.getElementById('resultcorrectanswer').innerHTML = 'The correct answer was - ' + atob(correctAnswer);
                    /* puts 5 second countdown timer on buzzer screen */
                    display = document.querySelector('#time');
                    startTimer(5, display);
                } 
                
                if (userName == activePlayer) {
                    document.getElementById(whichDiv + '_activediv').style.display = 'block';
                    document.getElementById(whichDiv + '_inactivediv').style.display = 'none';
                } else {
                    /* this deals with putting the active players name on the screen */
                    if (whichDiv == 'wheel' || whichDiv == 'pointvalue' || whichDiv == 'answer' || whichDiv == 'result') {
                        original = document.getElementById(whichDiv + '_inactivediv').innerHTML;
                        result = original.substr(original.indexOf(" ") + 1);
                        document.getElementById(whichDiv + '_inactivediv').innerHTML = activePlayer + ' ' + result;
                    }

                    /* grays out values for inactive player */
                    if (whichDiv == 'pointvalue') {
                        myList = ["button10", "button20", "button30", "button40", "button50"];
                        disableEnable(myList, 'disable');
                    }

                    /* grays out question choices for inactive player */
                    if (whichDiv == 'pointvalue') {
                        myList = ["buttona", "buttonb", "buttonc", "buttond"]
                        disableEnable(myList, 'disable');
                    }
                    document.getElementById(whichDiv + '_inactivediv').style.display = 'block';
                    document.getElementById(whichDiv + '_activediv').style.display = 'none';
                }
            }

            /* this function turns buttons on and off */
            function disableEnable (theList, status) {
                var arrayLength = theList.length;
                for (var i = 0; i < arrayLength; i++) {
                    if (status == 'disable') {
                        document.getElementById(theList[i]).disabled = true;    document.getElementById(theList[i]).style.backgroundColor = 'gray';    document.getElementById(theList[i]).style.cursor = 'not-allowed';
                    } else {
                        document.getElementById(theList[i]).disabled = false;    document.getElementById(theList[i]).style.backgroundColor = 'yellow';    document.getElementById(theList[i]).style.cursor = 'pointer';
                    }
                }
            }
    
            function startBuzzer () {
                buzzerStart = Date.now();
                elapsedTime = 0             // reset buzzer & elapsedTime = 0 means no buzzer press
    
                setTimeout(() => {
                    turnOn('answer');
                }, 7000);                 
            }
    
            function stopBuzzer () {
                    elapsedTime = Math.floor((Date.now() - buzzerStart));
                    console.log(elapsedTime);
                    /* turnOn('answer'); */ /* i have a bug here where if you press this it still forwards in 5 seconds */
            }

            function sendPoints (pointValue) {
                fetch(`/api/question?category=${category}&points=${pointValue}`)
                .then((resp) => resp.json())
                .then(function(data) {
                    let t_question = data.question;
                    questionID = data.question_id;
                    let t_choices = data.choices;
                    choicesID = data.choices_id;
                    let t_correctAnswer = data.correct_answer;
                chatSocket.send(JSON.stringify({
                    'event': "CHOOSE",
                    'question': t_question,
                    'choices': t_choices,
                    'correct_answer': t_correctAnswer
                    }));
                });
            }
        </script>
        <script type="text/javascript" src="https://bicoastal-bytes.github.io/FA_2021_Software_Engineering/images/Winwheel.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>
        <script language='javascript' type='text/javascript'>
         
         let theWheel;

         function setUpWheel () {  

            theWheel = new Winwheel({
            'numSegments'  : 6,     // Specify number of segments.
            'outerRadius'  : 212,   // Set outer radius so wheel fits inside the background.
            'textFontSize' : 28,    // Set font size as desired.
            'segments'     :        // Define segments including colour and text.
            [
            {'fillStyle' : '#ffbdbd', 'text' : 'Animals'},
            {'fillStyle' : '#89f26e', 'text' : 'History'},
            {'fillStyle' : '#7de6ef', 'text' : 'Literature'},
            {'fillStyle' : '#e7706f', 'text' : 'Philosophy'},
            {'fillStyle' : '#eae56f', 'text' : 'Science'},
            {'fillStyle' : '#b795fc', 'text' : 'Sports'}
            ],
            'animation' :
            {
                'type'          : 'spinToStop',
                'duration'      : 5,
                'spins'         : 8,
                'callbackAfter' : 'drawTriangle()'
            }
        });

    }
    
    

        // Function with formula to work out stopAngle before spinning animation.
        // Called from Click of the Spin button.
        function calculatePrize(angle, cats = null)
        {           
            /* initialize the wheel each turn */
            setUpWheel();

            // This formula always makes the wheel stop somewhere inside prize 3 at least
            // 1 degree away from the start and end edges of the segment.
            let stopAt = (angle + Math.floor((Math.random() * 58)))

            // Important thing is to set the stopAngle of the animation before stating the spin.
            theWheel.animation.stopAngle = stopAt;

            // May as well start the spin from here.
            theWheel.startAnimation();

            // forward to the point value page after wheel has spun
            setTimeout(() => {
                    turnOn('pointvalue');
                }, 7000);   
        }

        // Usual pointer drawing code.
        drawTriangle();

        function drawTriangle()
        {
            // Get the canvas context the wheel uses.
            let ctx = theWheel.ctx;

            ctx.strokeStyle = 'navy';     // Set line colour.
            ctx.fillStyle   = 'aqua';     // Set fill colour.
            ctx.lineWidth   = 2;
            ctx.beginPath();              // Begin path.
            ctx.moveTo(180, 5);           // Move to initial position.
            ctx.lineTo(240, 5);           // Draw lines to make the shape.
            ctx.lineTo(210, 40);
            ctx.lineTo(180, 5);
            ctx.stroke();                 // Complete the path by stroking (draw lines).
            ctx.fill();                   // Then fill.
        }


        /* countdown timer for the buzzer screen */

        function startTimer(duration, display) {
            var timer = duration, minutes, seconds;
            setInterval(function () {
                minutes = parseInt(timer / 60, 10);
                seconds = parseInt(timer % 60, 10);

                minutes = minutes < 10 ? "0" + minutes : minutes;
                seconds = seconds < 10 ? "0" + seconds : seconds;

                display.textContent = seconds;

                if (--timer < 0) {
                    timer = duration;
                }
            }, 1000);
        }

        </script>
    </body>
</html>