<!-- websockets/templates/websockets/game.html-->
{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Wheel of Jeopardy - Welcome</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="https://bicoastal-bytes.github.io/FA_2021_Software_Engineering/styles.css" rel="stylesheet">
        <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    </head>
    <body class="bg-blue-400 text-gray-700" onload="turnOn('status');">
        <div class="container mx-auto">

            <header class="bg-blue-900">
                <div class="flex flex-row">
                    <div class="bg-yellow-300 h-1/3 m-auto flex-1">
                        <div class="box flex items-center justify-center">
                            <div class="w-1/3"><input class="bg-white hover:bg-gray-100 text-black py-2 px-4 rounded flex-1 my-2 outline-bk" id="leave-game-button" type="button" value="Leave Game"></div>
                        </div>                       
                    </div>                    
                    <img src="https://bicoastal-bytes.github.io/FA_2021_Software_Engineering/images/Wheel-of-jeopardy.jpg" class="flex-1">
                    <div class="bg-yellow-300 h-1/3 m-auto flex-1">
                        <div class="box flex items-center justify-center">
                            <div class="w-1/3">
                                <div id="id-remaining-questions"></div>
                            </div>
                        </div>                       
                    </div>  
                </div>
            </header>

            <div class="m-10">
            <div class="flex justify-between mt-10">
                <div id="timer">
                    Timer Area
                </div>
                <div id="scoreboard">
                    Scoreboard Area
                </div>
            </div>
            <!-- ********************************************** -->
            <!--                 Content Area                   -->
            <!-- ********************************************** -->
            <div class="border-2 m-4 p-4 text-center" style="min-height: 200px;">
            <div id="status">
                <p>Waiting for Players to Join...</p><br>
                <button onclick="turnOn('wheel');" class="bg-yellow-200 hover:bg-blue-200 text-black font-bold py-2 px-2 rounded">Start Game</button>
            </div>

            <div id="wheel">
                <p>Spin for a Cateogory</p>
                <div class="flex flex-row">
                    <div class="mx-auto">
                        <div class="mx-auto">
                            <form>
                                <input type="radio" onchange="calculatePrize(1);"> Animals
                                <input type="radio" onchange="calculatePrize(61);"> History
                                <input type="radio" onchange="calculatePrize(121);"> Literature
                                <input type="radio" onchange="calculatePrize(181);"> Philosophy
                                <input type="radio" onchange="calculatePrize(241);"> Science
                                <input type="radio" onchange="calculatePrize(301);"> Sports
                            </form>
                        </div>
                        <div class="mx-auto">
                            <canvas id="canvas" width="434" height="434">
                                <p style="color: white" align="center">Sorry, your browser doesn't support canvas. Please try another.</p>
                            </canvas>
                        </div>
                        <!--
                        <div>
                                <button class="bg-gray-100 text-black border-2 p-2" onClick="calculatePrize(); this.disabled=true;">Spin the Wheel</button>
                        </div>
                        -->        
                        <div><a href="wheel.html" class="p-2 border-2">Reset</a></div>           
                    </div>
                </div>
                <button onclick="turnOn('pointvalue');" class="bg-yellow-200 hover:bg-blue-200 text-black font-bold py-2 px-2 rounded">switch</button>
            </div>

            <div id="pointvalue">
                <p>point value</p>
                <button onclick="startBuzzer(); turnOn('buzzer');" class="bg-yellow-200 hover:bg-blue-200 text-black font-bold py-2 px-2 rounded">switch</button>
            </div>

            <div id="buzzer">
                <div class="flex">
                    <div class="mx-auto">                       
                        <div class="bg-yellow-300 text-black py-4 px-4 rounded text-sm mt-2 px-20 outline-bk w-full text-center">
                            <p>What animal dances to get a potential mate's attention?</p>
                            <p>a. Elephants b. Monkies c. Birds d. Giraffes</p>
                            <p class="mt-2">&darr; Hit the buzzer to answer &darr; </p>
                        </div>
                    </div>
                </div>
                
                <div class="flex mt-4">
                    <div class="mx-auto">
                        <img src="https://bicoastal-bytes.github.io/FA_2021_Software_Engineering/images/buzzer.png" alt="buzzer" onclick="stopBuzzer();">
                    </div>
                </div>
            </div>

            <div id="result">
                <p>question result</p>
                <button onclick="turnOn('turnscore');" class="bg-yellow-200 hover:bg-blue-200 text-black font-bold py-2 px-2 rounded">switch</button>
            </div>

            <div id="turnscore">
                <p>score</p>
                <button onclick="turnOn('gameresult');" class="bg-yellow-200 hover:bg-blue-200 text-black font-bold py-2 px-2 rounded">switch</button>
            </div>

            <div id="gameresult">
                <p>game result</p>
            </div>
            </div>
            <!-- ********************************************** -->
            <!--               End Content Area                 -->
            <!-- ********************************************** -->
            <div class="flex justify-between">
                <!-- chat area -->
                <div id="chat" class="flex flex-col"> 
                    <label for="chat-log">Chat:</label>
                    <textarea class="form-control mb-1" id="chat-log"rows="5" ></textarea>
                    <input class="form-control mb-1" id="chat-message-input" type="text" size="50">
                    <input class="btn btn-success mb-1" id="chat-message-submit" type="button" value="Send">
                </div>
                <!-- end chat area -->
                <!-- connected players list -->
                <div class="" id="connected-players">
                    <label for="connected-players-table">Connected Players:</label>
                    <table id="connected-players-table">

                    </table>
                </div>
                <!-- end connected players list -->
            </div>
        </div>

       
        {{ game_room|json_script:"game-room" }}
        {{ user_name|json_script:"user-name" }}

            <!-- ********************************************** -->
            <!--               End Content Area                 -->
            <!-- ********************************************** -->
            <footer class="m-16">
                <p class="text-center font-bold text-xs">Copyright © 2021 Bicoastal Bytes</p>
            </footer>
        </div>



        <script src="{% static 'websockets/js/generate_table.js' %}"></script>
        <script src="{% static 'websockets/js/helper.js' %}"></script>
        <script src="{% static 'websockets/js/sockets.js' %}"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        <script>
            fetch('/api/remaining')
                .then(function (response) {
                    return response.json();
                })
                .then(function(data) {
                    appendData(data);
                })
                .catch(function(err){
                    console.log(`Error: ${err}`)
                })
            
            var table = document.querySelector("#connected-players-table");
            const roomName = JSON.parse(document.getElementById('game-room').textContent);
            const userName = JSON.parse(document.getElementById('user-name').textContent);
            const chatSocket = new WebSocket(
                'ws://'
                + window.location.host
                + '/ws/game/'
                + roomName
                + '/'
            );

            chatSocket.onopen = function(e){
                chatSocket.send(JSON.stringify({
                    'event': "JOIN",
                    'message': `Welcome to Wheel of Jeopardy, ${userName}!`,
                    'user_name': userName
                }));
            }

            chatSocket.onmessage = function(e) {
                let data = JSON.parse(e.data);
                data = data.payload;
                let chat_log = document.querySelector('#chat-log');
                switch(data.event) {
                    case "JOIN":
                        fetch('/api/table')
                        .then((resp) => resp.json())
                        .then(function(resp_data) {
                            table_data = JSON.parse(resp_data);
                            console.log(`Recieved Data Joining:${resp_data}`);
                            chat_log.value += (data.message + '\n');
                            console.log(table_data)
                            deleteTableData(table);
                            generateTable(table, table_data);
                            let header = Object.keys(table_data[0]);
                            generateTableHead(table, header);
                        });
                        
                        break;
                    
                    case 'SEND':
                        chat_log.value += (data.message + '\n');
                        break;
                    
                    case 'LEAVE':
                        fetch('/api/table')
                        .then((resp) => resp.json())
                        .then(function(resp_data) {
                            console.log(`Recieved Data leaving: ${resp_data}`)
                        });
                        deleteRow(data.user_name);
                        chat_log.value += (data.message + '\n');
                        break;
                    // case "UPDATE_TABLE":
                    //     generateTable(table, data.connected_users);
                    //     generateTableHead(table, data.connected_users[0])
                    //     break;
                }
            };

            chatSocket.onclose = function(e) {
                console.error('Chat socket closed unexpectedly');
            };

            document.querySelector('#chat-message-input').onkeyup = function(e) {
                if (e.keyCode === 13) {  // enter, return
                    document.querySelector('#chat-message-submit').click();
                }
            };

            document.querySelector('#chat-message-submit').onclick = function(e) {
                const messageInputDom = document.querySelector('#chat-message-input');
                const message = messageInputDom.value;
                chatSocket.send(JSON.stringify({
                    'event': 'SEND',
                    'message': message
                }));
                messageInputDom.value = '';
            };
            
            // Leave game 
            document.querySelector("#leave-game-button").onclick = function(e) {
                chatSocket.send(JSON.stringify({
                    'event': 'LEAVE',
                    'message': `${userName} has left the room`,
                    'user_name': userName
                }));
                const user = {player: userName}
                fetch('/api/unregister', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': getCookie('csrftoken')
                    },
                    body: JSON.stringify(user)
                })
                .then(response => response)
                .then(data => {
                    window.location.href = '/';
                })
                .catch((error) => {
                    console.error('Error', error);
                });
            }; 
                
                
    
            
        </script>
        <script language='javascript' type='text/javascript'>
            var buzzerStart = 0; 
            var elapsedTime = 0;
    
            function turnOff () {
                const pageNames = [ {x:'status'}, {x:'wheel'}, {x:'pointvalue'}, {x:'buzzer'}, {x:'result'}, {x:'turnscore'}, {x:'gameresult'}];
                pageNames.forEach((element) => {
                    document.getElementById(element.x).style.display = 'none';
                });
            }
    
            function turnOn (whichDiv) {
                turnOff(); 
                document.getElementById(whichDiv).style.display = 'block';
            }
    
            function startBuzzer () {
                buzzerStart = Date.now();
                elapsedTime = 0             // reset buzzer & elapsedTime = 0 means no buzzer press
    
                setTimeout(() => {
                    turnOn('result');
                }, 5000); 
                
            }
    
            function stopBuzzer () {
                    elapsedTime = Math.floor((Date.now() - buzzerStart));
                    console.log(elapsedTime);
            }
        </script>
        <script type="text/javascript" src="https://bicoastal-bytes.github.io/FA_2021_Software_Engineering/images/Winwheel.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>
        <script type="text/javascript" src="https://bicoastal-bytes.github.io/FA_2021_Software_Engineering/images/wheelSetup.js"></script>
    </body>
</html>