<!-- websockets/templates/websockets/game.html-->
{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Wheel of Jeopardy - Welcome</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="https://bicoastal-bytes.github.io/FA_2021_Software_Engineering/styles.css" rel="stylesheet">
        <link rel="shortcut icon" type="image/x-icon" href="https://bicoastal-bytes.github.io/FA_2021_Software_Engineering/favicon.ico">
    </head>
    <body class="bg-blue-400 text-gray-700" onload="turnOn('status'); setUpWheel();">
        <div class="container mx-auto">

            <header class="bg-blue-900">
                <div class="flex flex-row">
                    <div class="bg-yellow-300 h-1/3 m-auto flex-1">
                        <div class="box flex items-center justify-center">
                            <div class="w-1/3"><input class="bg-white hover:bg-gray-100 text-black py-2 px-4 rounded flex-1 my-2 outline-bk" id="leave-game-button" type="button" value="Leave Game"></div>
                        </div>                       
                    </div>                    
                    <img src="https://bicoastal-bytes.github.io/FA_2021_Software_Engineering/images/Wheel-of-jeopardy.jpg" class="flex-1">
                    <div class="bg-yellow-300 h-1/3 m-auto flex-1">
                        <div class="box flex items-center justify-center">
                            <div class="w-1/3">
                                <div class="bg-white hover:bg-gray-100 text-black py-2 px-4 rounded flex-1 my-2 outline-bk text-sm" id="id-remaining-questions"></div>
                            </div>
                        </div>                       
                    </div>  
                </div>
            </header>

            
            <!-- ********************************************** -->
            <!--                 Content Area                   -->
            <!-- ********************************************** -->
            <div class="border-2 mb-4 mt-4 p-4 text-center" style="min-height: 200px;">
            <div id="status">
                <div id="status_activediv" class="text-center text-yellow-300 m-8 text-2xl font-cinzel"></div> <!-- not doing anything with these yet -->
                <div id="status_inactivediv" class="text-center text-yellow-300 m-8 text-2xl font-cinzel"></div> <!-- not doing anything with these yet -->
            
                <p class="text-center text-yellow-300 m-16 text-2xl font-cinzel">Waiting for Players to Join...</p><br>
                <button id="start-game-button" class="bg-yellow-200 hover:bg-blue-200 text-black font-bold py-2 px-2 rounded">Start Game</button>
            </div>

            <div id="wheel">
                <div id="wheel_activediv" class="text-center text-yellow-300 m-8 text-2xl font-cinzel">You are spinning the wheel.</div>
                <div id="wheel_inactivediv" class="text-center text-yellow-300 m-8 text-2xl font-cinzel">Active is spinning the wheel.</div>
                <div class="flex flex-row">
                    <div class="mx-auto">
                        <div class="mx-auto">
                            <center><button id="spinthewheel" class="bg-yellow-200 hover:bg-blue-200 text-black font-bold py-2 px-2 rounded">spin the wheel</button></center>
                            
                        </div>
                        <div class="mx-auto">
                            <canvas id="canvas" width="434" height="434">
                                <p style="color: white">Sorry, your browser doesn't support canvas. Please try another.</p>
                            </canvas>
                        </div>                 
                    </div>
                </div>
                <a onclick="turnOn('pointvalue');" class="text-blue-400">switch</a>
            </div>

            <div id="pointvalue">
                <div id="pointvalue_activediv" class="text-center text-yellow-300 m-8 text-2xl font-cinzel">Choose a point value.</div>
                <div id="pointvalue_inactivediv" class="text-center text-yellow-300 m-8 text-2xl font-cinzel">Active is choosing the points value for the question.</div>
                    <div class="flex">                        
                        <div class="w-1/4"></div>
                        <div class="mx-auto">
                            <button id="button10" class="bg-yellow-300 hover:bg-yellow-400 text-black py-4 px-4 rounded text-sm m-2 px-20 outline-bk" onclick="sendPoints(100);">10</button><br>
                            <button id="button30" class="bg-yellow-300 hover:bg-yellow-400 text-black py-4 px-4 rounded text-sm m-2 px-20 outline-bk" onclick="sendPoints(300);">30</button><br>
                            <button id="button50" class="bg-yellow-300 hover:bg-yellow-400 text-black py-4 px-4 rounded text-sm m-2 px-20 outline-bk" onclick="sendPoints(500);">50</button>
                        </div>
                        <div class="mx-auto">
                            <button id="button20" class="bg-yellow-300 hover:bg-yellow-400 text-black py-4 px-4 rounded text-sm m-2 px-20 outline-bk" onclick="sendPoints(200);">20</button><br>
                            <button id="button40" class="bg-yellow-300 hover:bg-yellow-400 text-black py-4 px-4 rounded text-sm m-2 px-20 outline-bk" onclick="sendPoints(400);">40</button><br> 
                            
                        </div>
                        <div class="w-1/4"></div>
                    </div>
                </div>
                

            <div id="buzzer">
                <div id="buzzer_activediv" class="text-center text-yellow-300 m-8 text-2xl font-cinzel"></div>
                <div id="buzzer_inactivediv" class="text-center text-yellow-300 m-8 text-2xl font-cinzel"></div>
                <div class="flex">
                    <div class="mx-auto">   
                        
                        <div id="buzzercategory" class="bg-aqua text-black py-4 px-4 rounded text-xl mt-10 px-20 outline-bk w-full text-center"></div>                    
                        <div class="bg-yellow-300 text-black py-4 px-4 rounded text-sm mt-2 px-20 outline-bk w-full text-center">
                            <div id="buzzerquestion"></div>
                            <div id="buzzeranswers"></div>
                            <p class="mt-2">&darr; Hit the buzzer to answer.</p>
                        </div>
                    </div>
                </div>
                
                <div class="flex mt-4">
                    <div class="mx-auto">
                        <div class="flex">
                            <div class="basis-1"></div>
                            <div class="basis-2"><img src="https://bicoastal-bytes.github.io/FA_2021_Software_Engineering/images/buzzer.png" id="thebuzzerimage" alt="buzzer" onclick="stopBuzzer(); this.src='https:\/\/bicoastal-bytes.github.io/FA_2021_Software_Engineering/images/buzzer-over.png';"></div>
                            <div class="basis-1 "><div class="bg-yellow-300 rounded-full p-4 border-black"><span id="time">5</span></div></div>
                        </div>
                        
                    </div>
                </div>
                <a onclick="turnOn('answer');" class="text-blue-400">switch</a>

            </div>

            <div id="answer">
                <div id="answer_activediv" class="text-center text-yellow-300 m-8 text-2xl font-cinzel">You are answering the question.</div>
                <div id="answer_inactivediv" class="text-center text-yellow-300 m-8 text-2xl font-cinzel">Active is answering the question.</div>
                
                <div class="flex">
                    <div class="mx-auto">                       
                        <div id="answercategory" class="bg-aqua text-black py-4 px-4 rounded text-xl mt-10 px-20 outline-bk w-full text-center"></div>                    
                        <div class="bg-yellow-300 text-black py-4 px-4 rounded text-sm mt-2 px-20 outline-bk w-full text-center">
                            <div id="answerquestion"></div>
                            <div id="answeranswers"></div>
                        </div>
                    </div>
                </div>
                <div class="flex">
                    <div class="w-1/4"></div>
                    <div class="mx-auto">
                        <button id="buttona" class="bg-yellow-300 hover:bg-yellow-400 text-black py-4 px-4 rounded text-sm m-2 px-20 outline-bk" onclick="turnOn('result', 0);">A</button><br>
                        <button id="buttonb" class="bg-yellow-300 hover:bg-yellow-400 text-black py-4 px-4 rounded text-sm m-2 px-20 outline-bk" onclick="turnOn('result', 1);">B</button>
                    </div>
                    <div class="mx-auto">
                        <button id="buttonc" class="bg-yellow-300 hover:bg-yellow-400 text-black py-4 px-4 rounded text-sm m-2 px-20 outline-bk" onclick="turnOn('result', 2);">C</button><br>
                         <button id="buttond" class="bg-yellow-300 hover:bg-yellow-400 text-black py-4 px-4 rounded text-sm m-2 px-20 outline-bk" onclick="turnOn('result', 3);">D</button>
                    </div>
                    <div class="w-1/4"></div>
                </div>
                <a onclick="turnOn('result');" class="text-blue-400">switch</a>
            </div>

            <div id="result">
                <div id="result_result" class="text-center text-yellow-300 m-8 text-2xl font-cinzel">You answered the question (in)correctly.</div>
                <div id="result_activediv" class="text-center text-yellow-300 m-8 text-2xl font-cinzel invisible"></div>
                <div id="result_inactivediv" class="text-center text-yellow-300 m-8 text-2xl font-cinzel invisible"></div>
                <div id="resultcorrectanswer" class="text-center text-yellow-300 m-8 text-2xl font-cinzel"></div>              

                <div class="flex">
                    <div class="w-1/6"></div>
                    <div class="mx-auto w-1/6 m-4">
                        <div class="bg-blue-300 outline-bk text-center text-white font-extrabold py-4 text-2xl">
                            <div id='player1score'>30</div>
                            <div id="player1" class="border-t-100 border-b-150 border-blue-900 py-10 text-blue-900 mt-4 font-gloria text-3xl">
                                Laurie
                            </div>
                        </div>
                    </div>
                    <div class="mx-auto w-1/6 m-4">
                        <div class="bg-blue-300 outline-bk text-center text-white font-extrabold py-4 text-2xl">
                            <div id='player2score'>30</div>
                            <div id="player2" class="border-t-100 border-b-150 border-blue-900 py-10 text-blue-900 mt-4 font-parisienne text-3xl">
                                Clayton
                            </div>
                        </div>
                    </div>
                    <div class="mx-auto w-1/6 m-4">
                        <div class="bg-blue-300 outline-bk text-center text-white font-extrabold py-4 text-2xl">
                            <div id='player3score'>30</div>
                            <div id="player3" class="border-t-100 border-b-150 border-blue-900 py-10 text-blue-900 mt-4 font-lakki text-3xl">
                                Jordan
                            </div>
                        </div>
                    </div>
                    <div class="w-1/6"></div>
                </div>
                <div id="whichbutton"><button id='next-button' class="bg-yellow-200 hover:bg-blue-200 text-black font-bold py-2 px-2 rounded">next question</button></div>
                
                <div id="endresult"><button id='next-button' class="bg-yellow-200 hover:bg-blue-200 text-black font-bold py-2 px-2 rounded" onclick="turnOn('gameresult')">game result</button></div>
                

            </div>

            <div id="gameresult">
                <div id="gameresult_activediv" class="text-center text-yellow-300 m-8 text-2xl font-cinzel"></div>
                <div id="gameresult_inactivediv" class="text-center text-yellow-300 m-8 text-2xl font-cinzel"></div>
           
                <div class="gameresult_inactiveplayermessage gameresult_activeplayerdiv"></div>
                <p class="text-center text-yellow-300 mt-16 text-2xl font-cinzel" id="winnermessage">winner</p>
                <center><img src="https://bicoastal-bytes.github.io/FA_2021_Software_Engineering/images/alex_dance.png" alt="alex trebek dancing"></center>
            </div>
            </div>
            <!-- ********************************************** -->
            <!--               End Content Area                 -->
            <!-- ********************************************** -->
            <div class="flex justify-between">
                <!-- chat area -->
                <div id="chat" class="flex flex-col space-y-2"> 
                    <label for="chat-log">Chat:</label>
                    <textarea class="rounded border border-black" id="chat-log"rows="5" ></textarea>
                    <input class="rounded border border-black" id="chat-message-input" type="text" size="50">
                    <input class="bg-green-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded border border-black" id="chat-message-submit" type="button" value="Send">
                </div>
                <!-- end chat area -->
                <!-- connected players list -->
                <div class="" id="connected-players">
                    <label for="connected-players-table">Connected Players:</label>
                    <table id="connected-players-table">

                    </table>
                </div>
                <!-- end connected players list -->
            </div>
        </div>

       
        {{ game_room|json_script:"game-room" }}
        {{ user_name|json_script:"user-name" }}

            <!-- ********************************************** -->
            <!--               End Content Area                 -->
            <!-- ********************************************** -->


            <footer class="m-16">
                <p class="text-center font-bold text-xs">Copyright © 2021 Bicoastal Bytes</p>
            </footer>
            
            <div id="debugging" class="border-2 p-10"></div>
        </div>



        <script src="{% static 'websockets/js/generate_table.js' %}"></script>
        <script src="{% static 'websockets/js/helper.js' %}"></script>
        <script src="{% static 'websockets/js/sockets.js' %}"></script>
        <script src="{% static 'websockets/js/wheel.js' %}"></script>
        <script src="{% static 'websockets/js/frontend.js' %}"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        <script type="text/javascript" src="https://bicoastal-bytes.github.io/FA_2021_Software_Engineering/images/Winwheel.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>
       
    </body>
</html>